/*Main Page*/

.bio-container {
    position: relative;
}

h4, h3 {
    border: none !important;
}

/*======================================================
  4/29/16 version of the donation button
=======================================================*/
.donate_btn {
  background: #592a8a;
  background-image: -webkit-linear-gradient(top, #592a8a, #952bb8);
  background-image: -moz-linear-gradient(top, #592a8a, #952bb8);
  background-image: -ms-linear-gradient(top, #592a8a, #952bb8);
  background-image: -o-linear-gradient(top, #592a8a, #952bb8);
  background-image: linear-gradient(to bottom, #592a8a, #952bb8);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff !important;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  text-align: center;
}

.donate_btn:hover {
  background: #592a8a;
  background-image: -webkit-linear-gradient(top, #592a8a, #cb34d9);
  background-image: -moz-linear-gradient(top, #592a8a, #cb34d9);
  background-image: -ms-linear-gradient(top, #592a8a, #cb34d9);
  background-image: -o-linear-gradient(top, #592a8a, #cb34d9);
  background-image: linear-gradient(to bottom, #592a8a, #cb34d9);
  text-decoration: none;
}

.donate_btn a {
  color: #ffffff !important;
  text-decoration: none !important;
}

/*==== Carousel
======================*/


.hhp-wrap{
    position: absolute;
    z-index: 9999;
    left: 30px;
    top: 10px;
    font-size: 13px
}

.hhp-wrap a {
    color: #fff;
}

.hhp-wrap a:hover {
    color: #fff;
}

.hhp-wrap a:visited {
    color: #fff;
}


.CAP-logo {
    background: url('http://www.ecu.edu/cs-hhp/biofeedback/customcf/images/biofeedback-logo.png') top center no-repeat;
    width: 300px;
    height: 125px;
    text-indent: -9999px;
    z-index: 9999;
    position: absolute;
    left: 15px;
    top: 35px;
    background-size: 100%;
}

.CAP-logo a {
	width: 100%;
	height: 100%;
}

.carousel-indicators {
	top: 93.5% !important;
}

/* ====== Nav
======================*/

.navbar-inner {
    min-height: 32px !important;
}

.csecu-navbar .csecu-nav > li > a:hover, .csecu-navbar .csecu-nav > li > a:focus {
    background-color: #fec923 !important;
}


.bio-nav {
    background: #fec923;
    height: 32px;
}

.nav-contact {
    background: #000;
    height: 32px;
}

.nav-contact p {
    text-align: center;
	font-weight: bold;
}

.nav-contact p a{
    line-height: 32px;
    text-decoration: none;
    color: #fec923;
    display: block;
}

.bio-nav nav {
    margin: 0;
    padding: 0;
}

.bio-nav .csecu-nav li a{
    border-right: 1px solid #000;
	font-weight: bold;
}

.bio-nav ul li a {
    display: block;
    margin: 0;
    padding: 0 25px !important;
    line-height: 32px;
    height: 32px !important;
}

.bio-nav .csecu-nav li:last-child a {
    border: none;
}

.bio-nav ul li a .caret {
    margin: 13px 0 0 !important;
}

.bio-nav ul li .dropdown-menu {
    background: #FFF1D9;
}


.bio-nav ul li .dropdown-menu li:last-child {
    border:none;
}

.bio-nav ul li .dropdown-menu li a {
    border: none;
	font-weight: normal;
    text-align: center;
}

.bio-nav ul li .dropdown-menu li a:hover {
    background: #fec923;
}


.mobile-contact {
    	/*background: #000;
    	height: 32px;
		margin-top: -10px;
		text-align: center;
		font-weight: bold;
		line-height: 32px;
    	text-decoration: none;
    	color: #fec923;
    	display: block;*/
		display: none !important;
}

/*===== Sidebar
===================*/

.bio-sidebar {
   	background: #FFF1D9;
	overflow: hidden;
    margin:0;
    padding: 10px 0 20px 0;
}

/* Home */
#CS_Element_116559_114572 {
	min-height: 850px;
}

/* Education */
#CS_Element_116627_114572 {
	min-height: 1250px;
}

/* Research */
#CS_Element_116671_114572 {
 	min-height: 2100px;
}

/* Certification */
#CS_Element_116663_114572 {
	min-height: 1150px;
}

/* Service */
#CS_Element_116706_114572 {
	min-height: 2450px;
}

/* Staff */
#CS_Element_116728_114572 {
	min-height: 2500px;
}

/* News */
#CS_Element_116977_114572 {
	min-height: 950px;
}

/* FAQ */
#CS_Element_116758_114572 {
	min-height: 1050px;
}

/* Directions */
#CS_Element_116773_114572 {
	min-height: 950px;
}




.sidebar-info p {
    text-align: center;
}

.sidebar-social {
    float: left;
    margin: 30px auto 20px auto;
    width: 100%;
}

.sidebar-social ul {
    margin: 0 auto;
    padding: 0;
    width: 200px;
}

.sidebar-social ul li {
    float: left;
    display: inline;
}

.sidebar-social ul li a {
    display: block;
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    margin: 0 5px;
}

.sidebar-social ul li:first-child a {
    background: url("http://www.ecu.edu/cs-hhp/biofeedback/customcf/images/Facebook-36px.png") no-repeat top center;
}

.sidebar-social ul li:nth-child(2) a {
    background: url("http://www.ecu.edu/cs-hhp/biofeedback/customcf/images/Twitter-36px.png") no-repeat top center;
}
.sidebar-social ul li:nth-child(3) a {
    background: url("http://www.ecu.edu/cs-hhp/biofeedback/customcf/images/LinkedIn-36px.png") no-repeat top center;
}

.sidebar-social li:last-child a {
    background: url("http://www.ecu.edu/cs-hhp/biofeedback/customcf/images/instagram.png")no-repeat top center;
}

.quick-links {
    margin: 0;
    padding: 0;
}

.quick-links li {
    list-style-type: none;
    text-align: center;
    font-size: 13px;
}

.quick-links li a {
    text-decoration: underline;
}

.warriors {
    text-indent: -9999px;
    margin: 10px 0;
}

.warriors a{
    width: 138px;
    height: 63px;
    background: url('http://www.ecu.edu/cs-hhp/biofeedback/customcf/images/donate.png') no-repeat top center;
    margin: 10px auto 20px auto;
    padding: 0;
    display: block;
}

/*===== Content
===================*/

.bio-content {
    margin: 0;
	padding: 0;
	background: none;
}

.body-content {
	margin: 0 10px 0 23px !important;
	padding: 0 0 50px 0;
}

.ekg {
    height: 36px;
    background: url("http://www.ecu.edu/cs-hhp/biofeedback/customcf/images/ekg.png") bottom left no-repeat;
    margin: 35px 0 10px 0;
	font-size: 17px;
}


#cs_control_117113, #cs_control_117116, #cs_control_117119, #cs_control_117196 {
	margin-top: 20px;
}

#cs_control_117126, #cs_control_117125, #cs_control_117124, #cs_control_117122, #cs_control_117195 {
	margin-top: 6px;
}


.map-container, .video-container, .photo-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.map-container iframe, .video-container iframe, .photo-container div {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*===== Media Queries
==================================*/

@media only screen and (max-width: 767px) {
    .CAP-logo {
        width: 133px;
		margin-top: -30px !important;
		left: 8px;
    }

	.hhp-wrap {
		display: none !important;
	}


	.ecuCarouselPlayPause {
		float: left !important;
		width: 50% !important;
	}


	.short-banner {
		/*margin-top: 20px;*/
		width: 100%;
	}

	.bio-nav .csecu-nav li a{
    border-right: none;
}



	.mobile-contact {
    	background: #000;
    	height: 32px;
		margin-top: -10px;
		text-align: center;
		font-weight: bold;
		line-height: 32px;
    	text-decoration: none;
    	color: #fec923;
    	display: block !important;
	}


	.nav-contact {
   		display: none;
	}

	.nav-contact p {
    	display: none;

	}

	.nav-contact p a{
   		display: none;
	}


    .bio-content {
        padding: 10px 0 0;
		background: none;
	}

    .csecu-navbar .csecu-navbar-inner {
        width: 95%;
	}

	.csecu-navbar {
		float: left;
		width: 100%;
	}


		.ekg {
    	height: 21px;
		background: none;
		border-bottom: 1px solid #000;
		margin: 15px 0 20px 0;
	}

	.long-header {
		height: 41px;
	}

	#CS_Element_116559_114572, #CS_Element_116627_114572, #CS_Element_116671_114572, #CS_Element_116663_114572, #CS_Element_116706_114572, #CS_Element_116728_114572, #CS_Element_116977_114572, #CS_Element_116758_114572, #CS_Element_116773_114572 {
	min-height: 550px;
	}

	.CAP-logo a {
	width: 100%;
	height: 60px;
}


	.CAP-logo {
		height: 60px;
	}

}

@media screen and (max-width: 979px) and (min-width: 768px) {
    .csecu-navbar .csecu-navbar-inner a.btn-navbar {
        margin-top: 1px;
    }

    .csecu-navbar .csecu-navbar-inner {
        float: left;
        width: 95%;
    }

    .csecu-navbar .csecu-navbar-inner .csecu-nav {
        width: 100%;
    }

    .csecu-navbar .csecu-navbar-inner .csecu-nav li {
        width: 100%;
    }

    .csecu-navbar .csecu-navbar-inner .csecu-nav li a{
        border: none;
    }

  	.ekg {
		height: 32px;
		background-size: 100%;
	}

	.bio-sidebar {
		font-size: 12px;
		line-height: 18px;
		}

	.bio-container {
		background: url('http://www.ecu.edu/cs-hhp/biofeedback/images/CAP-background.jpg') repeat-y top right;
		background-size: 660px !important;
	}


/* Home */
#CS_Element_116559_114572 {
	min-height: 750px;
}

/* Education */
#CS_Element_116627_114572 {
	min-height: 1200px;
}

/* Research */
#CS_Element_116671_114572 {
 	min-height: 1650px;
}

/* Certification */
#CS_Element_116663_114572 {
	min-height: 1300px;
}

/* Service */
#CS_Element_116706_114572 {
	min-height: 2200px;
}

/* Staff */
#CS_Element_116728_114572 {
	min-height: 2550px;
}

/* News */
#CS_Element_116977_114572 {
	min-height: 750px;
}

/* FAQ */
#CS_Element_116758_114572 {
	min-height: 1250px;
}

/* Directions */
#CS_Element_116773_114572 {
	min-height: 975px;
}

	.ecuCarouselPlayPause {
		float: left;
		width: 50%;
	}

	 .CAP-logo, .hhp-wrap {
        width: 250px;
    }

	.hhp-wrap {
		font-size: 11px;
		left: 27px;
	}



	.CAP-logo a {
	width: 100%;
	height: 100px;
}
}

/*===================================== Chuck Style =====================================*/

.clr {
  clear: both;
}
.cap_staff img:first-child {
  max-width: 150px;
  float: left;
  padding: 5px;
}

.cap_staff p {
  clear: both;
}

.staff_nfo {
  max-width: 400px;
  float: left;
}

.deg {
  padding: 15px 0;
}

.ekg_head {
  background: url("http://www.ecu.edu/cs-hhp/biofeedback/customcf/images/ekg.png") bottom left no-repeat;
  padding-bottom: 5px;
  font-size: 1.5em;
}

a {
  font-weight: bold;
}

.noBullet {
	list-style-type: none;
}
.noBullet > li {
	line-height: 2;
}

.btm_line {
  border-bottom: solid 1px;
  margin-bottom: 25px;
}
